header {
    width: 1000px;
    height: 72px;
    background-color: #fffabe;
}

img{
    display: inline-block;
    margin: 2% 4%;
}

header ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #515151;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    float: right;
    width: 70%;
}

header ul li{
    display: inline;
    margin-left: 5%;

}

header ul li:hover {
    color: #d42551;
}

#welcome-img img{
    width: 1000px;
    height: 400px;
    margin: 0;
    border: 1px solid gray;
}

#main-content img{
    border: 1px solid gray;
    display: inline-block;
    width: 28%;
    margin: 0 40px;
    transform: translate(0, 65px);
    box-sizing: border-box;

}

#main-content{
    width: 1000px;
    height: 528px;
    margin: 72px 0;
}

#main-content div{
    border: 1px solid green;
    display: inline-block;
    width: 60%;
    height: 528px;
    box-sizing: border-box;
    vertical-align: top;
}

section h3:first-of-type{
    margin-top: 20px;
}

section h3{
    font-size: 20px;
    color: #6a6969;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0;
}



section{
    border: 2px solid gray;
}


#menu{
   width: 1000px;
    height: 140px;
    border: 1px solid blue;
}

footer{
   height: 80px;
   width: 1000px;
   border: 1px solid gray;
}


