/* Add your CSS here */

header {
    width: 1000px;
    height: 72px;
    background-color: #fffabe;
}

img{
    display: inline-block;
}

header img{
    margin: 2% 4%;
}

header ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #515151;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    float: right;
    width: 70%;
}

header ul li{
    display: inline;
    margin-left: 5%;

}

header ul li:hover {
    color: #d42551;
}

#welcome-img img{
    width: 1000px;
    height: 400px;
    margin: 0;
}

#main-content ul{
    list-style-type: none;
    font-size: 14px;
    padding: 0;
}

#main-content{
    width: 1000px;
    height: 528px;
    margin-top: 72px;
    color: #6a6969;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#main-content div{
    display: inline-block;
    width: 30%;
    height: 528px;
    vertical-align: top;
}

#main-content div:nth-of-type(1), #main-content div:nth-of-type(2){
    margin-left: 40px;
}

#main-content div p:nth-child(5){
    color: #df5277;
}

section h3:first-of-type{
    margin-top: 20px;
}

section h3{
    font-size: 20px;
    margin: 40px 0;
    font-weight: lighter;
}

section p {
    font-size: 14px;
}

#main-content div div{
    position: absolute;
    display: inline;
    right: 32%;
    top: 0;
}

#main-content div div div{
    width: 20%;
}

#main-content img{
    position: absolute;
    top: 23%;
    margin-left: 50px;
}

.line_spacing{
    margin-bottom: 10px;
}

/*all form css here*/
input {
    width: 310px;
    height: 35px;
    background-color: #f5f5f5;
    margin-bottom: 15px;
    border: none;
    font-size: 14px;
}

form input:nth-child(6){
    width: 155px;
    position: absolute;
    right: 30%;
    margin-top: 15px;
    color: #6a6969;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    width: 310px;
    height: 70px;
    background-color: #f5f5f5;
    border: none;
    font-size: 14px;
}

/*css for all footer elements*/
footer{
    height: 80px;
    width: 1000px;
    background-color: #df5277;
}

footer img{
    margin: 0 15px 0 15px;
}

footer div{
    display: inline-block;
    width: 200px;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

#copyright{
    font-size: 12px;
    color: #ffffff;
    display: inline;
    margin-left: 360px;
}

@media screen and (max-width: 627px) {
    body{
        margin: 0;
    }
    header {
        width: 100%;
        height: 11.7vh;
    }

    header img {
        position: relative;
        left: 25%;
    }

    header ul {
        font-size: 1.6vh;
        float: left;
        padding: 0;
        width: 100%;
        margin-top: 0;
    }

    #welcome-img img {
        width: 100%;
        height: auto;
    }

    section{
        height: 160vh;
    }

    #main-content {
        width: 100%;
        margin-top: 3vh;
    }

    .line_spacing {
        margin: 0;
    }

    #main-content div:nth-of-type(1) {
        width: 100%;
        margin: 0;
        padding: 0 5vw;
        box-sizing: border-box;
        height: 74%;
    }

    #main-content div p {
        margin-bottom: 4vh;
    }

    #main-content img {
        visibility: hidden;
    }

    #main-content div:nth-of-type(2){
        width: 100%;
        margin-left: 4vw;
    }

    footer{
        width:100%;
        height: 12.8vh;
    }

    footer div{
        margin: 0 0 2% 0;
        display: inline;
        font-size: 2vh;
        position: relative;
        left: 7%;

    }

    footer div:nth-of-type(3){
        display: inline-block;
        position: relative;
        left: 30%;
        margin-top: 1vh;
    }

    #copyright{
        display: inline-block;
        width: 100%;
        margin: 0;
        left: 15%;
    }

    form input:nth-child(6){
        position: relative;
        right: 0;
        left: 45%;
    }

}



