<div class="container-fluid">
    <!--<div class="bannerImgContainer"><img ng-src="{{ banner }}"></div>-->
    <div class="bannerImgContainer homeBanner"></div>
    <div class="mainContent">
        <div class="row">
            <div class="col-xs-4">
                <img class="centering" src="templates/images/macarons-image.png">
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Welcome To MBoutique!</h4>
                        <p>We're a home-based baking business that specializes in the making of French macarons, a gluten- free pastry item made from ground almonds. Our business began at the West Reading Farmers Market in 2011. Last year (2013) marked our third and final season of participation at the market. MBoutique was established to pay homage to the delicate French confectionery, the macaron. Our shop has been recognized as the connoisseurs of this delicious French pastry because of the wonderful variety of flavors from our great master chefs. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>We Love Macarons!</h4>
                        <p>Renowned macarons, French delights of the moment can be met in a variety of flavors and colors and are brilliant precisely because of their simplicity - a crispy coating, but delicate in a loose blanket jam, chocolate butter cream is spread inviting .</p>
                        <p>Macarons combines perfectly with champagne or white wine, tea or hot chocolate, fresh juices and natural fruit flavored coffee and guarantee that these little delights soon become friend that you can not break. </p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Find the flavor that you like.  Try a sample every day!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class='flavorMenu container-fluid'>
            <div class='flexItem'>
                <div>Monday</div>
                <div>15:00 - 16:00</div>
                <div>chocolate<img src="templates/images/chocolate.png"></div>
                <div class="fontWhite brownColor">coconut<img src="templates/images/coconut.png"></div>
            </div>
            <div class='flexItem'>
                <div>Tuesday</div>
                <div>14:00 - 15:00</div>
                <div>violet cassis<img src="templates/images/violet-cassis.png"></div>
                <div>green tea<img src="templates/images/green-tea.png"></div>
            </div>
            <div class='flexItem'>
                <div>Wednesday</div>
                <div>09:00 - 10:00</div>
                <div>passion fruit<img src="templates/images/passion-fruit.png"></div>
                <div class="fontWhite pinkColor">vanilla<img src="templates/images/vanilla.png"></div>
            </div>
            <div class='flexItem'>
                <div>Thursday</div>
                <div>18:00 - 19:00</div>
                <div>coffee<img src="templates/images/coffee.png"></div>
                <div>pistachio<img src="templates/images/pistachio.png"></div>
            </div>
            <div class='flexItem'>
                <div>Firday</div>
                <div>11:00 - 12:00</div>
                <div>raspberry<img src="templates/images/raspbery.png"></div>
                <div class="fontWhite maroonColor">lemon<img src="templates/images/lemon.png"></div>
            </div>
            <div class='flexItem'>
                <div>Saturday</div>
                <div>13:00 - 14:00</div>
                <div>rose<img src="templates/images/rose.png"></div>
                <div>tiffany blue<img src="templates/images/tiffany-blue.png"></div>
            </div>
            <div class='flexItem'>
                <div>Sunday</div>
                <div>10:00 - 11:00</div>
                <div>caramel<img src="templates/images/caramel.png"></div>
                <div class="fontWhite caramelColor">almond<img src="templates/images/almond.png"></div>
            </div>
        </div>
    </div>
</div>
