<div>
    <!--<div class="bannerImgContainer"><img ng-src="{{ banner }}"></div>-->
    <div class="bannerImgContainer ourMacsBanner"></div>
    <div class="mainContent ourMacsContent">
        <div>
            <h4>Our macarons are freshly made by hand</h4>
            <p>The vivid hues of our unique macarons reflect the natural flavors and essences that infuse the ganache filling of these delicious almond cookies – each has its own personality, and all of them are made to savour for their delicacy and unique character.</p>
        </div>
        <div>
            <h4>Classics</h4>
            <div class="col-xs-12">
                <ul>
                    <li>caribbean chocolate</li>
                    <li>coconut</li>
                    <li>colombian coffee</li>
                    <li>green tea</li>
                    <li>lemon</li>
                    <li>madagascar vanilla</li>
                    <li>passion fruit</li>
                    <li>rose</li>
                    <li>raspberry</li>
                    <li>tiffany blue</li>
                    <li>sicilian pistachio</li>
                    <li>sweet wedding almond</li>
                    <li>violet cassis</li>
                    <li>salted caramel</li>
                </ul>
            </div>
        </div>
    </div>
</div>
