body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
}

/*FOOTER AND HEADER CSS*/
header, footer {
    /*width: 100vw;*/
    width: 1000px;
    height: 72px;
    background-color: #fffabe;
    position: relative;
}

#logo {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
   line-height: 4.5;
}

ul li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8%;
}

li a:link,
li a:visited,
li a:active {
    color: #515151;
}

li a:hover {
    color: #d42551;
    text-decoration: none;
}

.row {
    box-sizing: border-box;
    height: 100%;
}

.row div {
    height: 100%;
}

footer {
    background-color: #df5277;
    color: white;
    text-align: center;
}

footer img {
    margin: 3%;
}


/*MAIN CONTENT TEMPLATES CSS*/
.bannerImgContainer,
.mainContent {
    height: 400px;
    width: 1000px;
    margin: 0 auto;
    /*margin-left: 9.5%;*/
    overflow: hidden;
    background-size: cover;
}

.homeBanner {
    background-image: url('assets/images/welcome-image.png');
    background-size: cover;

}

.ourMacsBanner {
    background-image: url('assets/images/our-macarons-image.png');
}

.giftsBanner {
    background-image: url('assets/images/gifts-parties-image.png');
}

.contactBanner {
    background-image: url('assets/images/contact-image.png');
}

.mainContent {
    /*border: 1px solid black;*/
    height: 135vh;
}

.mainContent > .row {
    margin-top: 15vh;
    height: 60%;
}

.mainContent .row .row {
    height: 50%;
}

.mainContent h4 {
    font-size: 20px;
    padding-bottom: 5%;
}

.mainContent p {
    padding-right: 5%;
}

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*FlexBox Css for Flavor Menu*/
.flavorMenu {
    display: flex;
    /*border: 1px solid black;*/
    height: 140px;
    width: 1000px;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 7%;
}

.flexItem {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    /*border: 1px solid gray;*/
    width: 126px;
    height: 100%;
    background-color: #fffabe;
}
.flexItem div:nth-of-type(1){
    padding-top: 5%;
}

.flexItem div {
    height: 33px;
    padding: 2% 5% 0 5%;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    flex-grow: 1;
    line-height: 1.5;:
}

.flexItem img {
    float: right;
}

/*.flexItem div:last-of-type{*/
    /*background-color: #824603;*/
/*}*/

.fontWhite {
    color: white;
}

.brownColor {
    background-color: #824603;
}

.pinkColor {
    background-color: #df5277;
}

.maroonColor {
    background-color: #a2304e;
}

.caramelColor {
    background-color: #c39005;
}
